body {
    margin: 0;
    padding: 0;
    background-color: rgb(214, 244, 253);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em;
}

i {
    margin: auto 0;
    font-size: 2em;
}

h2 {
    margin: 1px 0;
}

.properties {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    
}

.card {
    width: 150px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
}

.card img {
    width: 140px;
    height: 120px;
    margin: 5px;
}